<div class="container">
  <form method="post" action="/urls">
    <input type="text" name="original_url">
    <input type="submit" value="Get short version">
  </form>
</div>
<div class="container">
<% if @new_url %>
  <a id="shorty" href="<%= @new_url.short_url %>"><%= @new_url.short_url %></a>
  <% end %>
</div>